<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20316455868-0ptldg0edhni4luraruq93l58k3v3r5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20316455868-0ptldg0edhni4luraruq93l58k3v3r5v</string>
	<key>API_KEY</key>
	<string>AIzaSyCWIOqiVx8Tt-vEsJ91mbibsoFIfgrjVsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>20316455868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>luciadecode.FuelTracker</string>
	<key>PROJECT_ID</key>
	<string>fuelapp-68f42</string>
	<key>STORAGE_BUCKET</key>
	<string>fuelapp-68f42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20316455868:ios:7f77dc973f9bd77f6ce1b9</string>
</dict>
</plist>